#header h1 {
    background-image: url("../img/mcato-funinthesun-solid (7).jpg");
    font-weight: 100%; 
    width: 100%;   
    color: #191304;
    text-align:center;
    padding:8px 0px 8px 0px;
}
#header2 {
    text-align: center;
}
#nav {
    line-height:30px;
    color:#100633;
    max-height:35%;
    max-width:50%;
    float:left;
    padding:50px; 
    position: relative;
}
#content {
    width:960px;
    height: 700px;
    margin: 70px auto;
}
#section {
    width:950px;
    height: 500px;
    margin: 50px right;
}
#footer {
    position: bottom;
    color:black;
    clear:both;
    text-align:center;
    padding:0px ;
    height: 3em;
    margin: 25%;
}
#footer2 {
    position: bottom;
    color:black;   
    text-align:center;
    padding:40px ;
    height: 5em;
    margin: 30%;
}
#head3 {
}
#section2 {
    position: relative;
    width: 250px;
    float: right;
    padding: 10px;
    border-width: 100px;
}
#section3 {
    position: relative;
    float: center;
}
#section4 {
   float: right;
}
.social-icon {
    float: center;
    height: 30px;
    width: 30px;
    text-align: center;
}
* {margin:0; padding:0;}

div#menu {width:100px; background:url("../img/backround2.jpeg") top no-repeat; padding-top:44px;}

div#menubody {background:url() repeat-y; padding-left:21px;}

div#menubottom {height:26px; background:url() bottom no-repeat;}

ul#menulist {width:144px; list-style-type:none;}

ul#menulist li {height:27px; background:url() bottom repeat-x;}

ul#menulist a {width:122px; height:20px; border-left:#75c5de 10px solid; font:bold 10px Verdana, Arial, sans-serif; color:#ffffff; text-decoration:none; padding:5px 0 0 10px; display:block !important; display:inline-block;}

ul#menulist a:hover {background:url() left repeat-y;}
p {
    font-size: 28px;
    color: ;
}
body {
    background-image: url("../img/Nudel-Blue-Light.png");
}
img {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
h1 {
    font-family: cursive;
    font-size: 45px;
    color: #332512;
    outline: blue;

}
a {
    font-family: fantasy;
    font-size: 25px;
    color: blue;

}
a:hover {
    color: red;
}





