#header h1 {
    background-image: url("../img/mcato-funinthesun-solid (7).jpg");
    color: #191304;
    text-align:center;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
#content {
    width:960px;
    height: 900px;
    margin: 70px auto;
}
#section {
    width:950px;
    height: 500px;
    margin: 50px right;
}

#footer {
    position: bottom;
    font-size: -11px;
    color:black;   
    text-align:center;
    width: 25em;
    height: 10em;
    margin: 45%;
}
#section2 {
    position: relative;
    width: 1250px;
    float: right;
    padding: 10px;
    border-width: 100px;
}

.social-icon {
    float: center;
    height: 30px;
    width: 30px;
    text-align: center;
}
ul#navlist
{
margin: 0 0 0 0px;
padding: 0;
width: 12%;
}

#navlist li
{
list-style-type: none;
background-color: #191970;
color: #0DD9FC;
border: .2em solid #0DD9FC;
font-weight: 600;
text-align: center;
padding: .3em;
margin-bottom: .1em;
}

#navlist li a
{
color: #0DD9FC;
text-decoration: none;
display: block;
}

#navlist li a:hover
{
background-color: #faebd7;
color: #191970;
}
p {
    font-size: 28px;
    color: ;
}
body {
    background-image: url("../img/Nudel-Blue-Light.png");
    margin:0;
    padding:0;
}
img {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
h1 {
    font-family: cursive;
    font-size: 45px;
    color: #332512;
    outline: blue;

}
a {
    font-family: fantasy;
    font-size: 25px;
    color: blue;

}
a:hover {
    color: red;
}

